.btn {
  padding: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
  background-color: transparent;
  width: inherit;
}

.container{
  margin: 100px auto;
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
}

.btn-container{
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 1px 18px black;
}

.btn-open{
  width:100%;
  height: 500px;
}

.btn-close{
  width: 200px;
  height: 75px;
}